/* Additional styles for Service Provider dashboard */
.dashboard-container {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
header {
  background-color: #ffffff;
  color: #2B3454;
  padding: 10px 0;
  position: sticky; /* Make the header sticky */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1; /* Add z-index to layer it above other content */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  margin-right: auto; 
}

.logo img {
  width: 250px;
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #2B3454;
}

/* Footer styles */
footer {
  background-color: #2B3454;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  text-align: left;
}

.footer-section a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-weight: bold;
}

.social-media {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-media li {
  margin-right: 10px;
}

.social-media a img {
  width: 30px;
  height: 30px;
}

.footer-section p {
  margin: 0;
}

.footer-section:not(:last-child) {
  margin-right: 20px;
}

/* Account specific background */
.account-background {
  background-image: url('Background2.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
