 body {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: #2B3454;
   
}

   

.container {
            text-align: center;
        }

        .form-container {
            display: inline-block;
            text-align: center;
            padding: 10px;
           
        }

        label {
            display: block;
            margin-top: 30px;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
        }

        .radio-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .radio-item {
            flex: 0 0 40%;
            display: flex;
            align-items: center;
        }

.reserve-button {
            background-color: #2b3353;
            color: #fff;
            border: none;
            border-radius: 30px;
            padding: 10px 20px;
            cursor: pointer;
              margin-top: 20px;
    
        }

header {
  background-color: #ffffff;
  color: #2B3454;
  padding: 10px 0;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}



.logo {
  margin-right: auto; 
}

.logo img {
  width: 250px;
  height: 50px;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #2B3454;
}


footer {
  background-color: #2B3454;
  color: white;
  text-align: center;
  padding: 10px 0;
  /* Remove position: sticky; */
  /* bottom: 0; */
  width: 100%;
}

.services {
  padding: 20px;
  text-align: center;
}

.service-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-item {
  flex-basis: calc(33.33% - 20px);
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.service-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.service-item h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.service-item p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.choose-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

.choose-button:hover {
  background-color: #555;
}


.login-background {
  background-image: url('background.png');
  background-size: 65%; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right center; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #2B3454;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}

/* Footer container */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Footer section */
.footer-section {
  text-align: left;
}

/* Footer links */
.footer-section a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-weight: bold;
}

/* Social media icons */
.social-media {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-media li {
  margin-right: 10px;
}

.social-media a img {
  width: 30px;
  height: 30px;
}

/* Copyright text */
.footer-section p {
  margin: 0;
}

/* Adjust the spacing between elements if needed */
.footer-section:not(:last-child) {
  margin-right: 20px;
}

        



       

